<h2>Users</h2>

<div id="users">
    <p><%= link_to 'Add new user', '#', :onclick => "show('new_user')" %></p>
    <div id="new_user" style="display:none">
        <form action="/admin/user" method="POST">
            <p>
                Email: <input type="text" name="email"/>
                Password: <input type="password" name="password"/>
                <input type="submit" value="add"/> <%= link_to 'Cancel', '#', :onclick => "hide('new_user')" %>
            </p>
        </form>
    </div>
    
    <% @users.each do |user| %>
        <div class="user" id="project_<%= user.id %>">
            <%= user.email %> | <%= link_to 'Delete', "/admin/user/#{user.id}/destroy" %>
        </div>
    <% end %>
</div>