<h2>Clients</h2>

<p><%= image_tag 'add.png' %> <%= link_to 'Add new client', '#', :onclick => "show('new_client')" %></p>
<div id="new_client" style="display:none">
    <form action="/client" method="POST">
        <p>
            Name: <input type="text" name="name"/>
            Contact Name: <input type="text" name="contact_name"/>
            Contact Telephone: <input type="text" name="contact_telephone"/>
            <input type="submit" value="add"/> <%= link_to 'Cancel', '#', :onclick => "hide('new_client')" %>
        </p>
    </form>
</div>

<% @clients.each do |client| %>
    <div>
        <%= link_to client.name, "/client/#{client.id}" %>
        <ul>
            <% client.projects.reverse[0..3].each do |project| %>
                <li><%= link_to project.name, "/project/#{project.id}" %></li>
            <% end %>
        </ul>
    </div>
<% end %>