<h2>Client: <%= @client.name %></h2>

<%= image_tag(@client.image_url, :class => 'client_logo') %>

<h3>Notes</h3>

<div id="notes">
    <div>
        <form action="/note" method="POST">
            <p>
                <input type="hidden" name="client_id" value="<%= @client.id %>"/>
                <textarea name="message"></textarea>
                <input type="submit" value="new note"/>
            </p>
        </form>
    </div>
        
    <% @client.notes.reverse.each do |note| %>
        <div class="note" id="project_<%= note.id %>">
            <%= note.message %> 
            <small>
                <%= time_ago_or_time_stamp(note.created_at) %>
                <% if note.user %>by <%= note.user.email %><% end %>
            </small>
        </div>
    <% end %>
</div>

<h3>People</h3>

<p><%= image_tag 'add.png' %> <%= link_to 'Add new person', '#', :onclick => "show('new_contact')" %></p>
<div id="new_contact" style="display:none">
    <form action="/person" method="POST">
        <p>
            <input type="hidden" name="client_id" value="<%= @client.id %>"/>
            Name: <input type="text" name="name"/>
            Telephone: <input type="text" name="telephone"/>
            Image: <input type="text" name="image_url"/>
            <input type="submit" value="add"/> <%= link_to 'Cancel', '#', :onclick => "hide('new_contact')" %>
        </p>
    </form>
</div>

<ul>
    <% @client.contacts.each do |contact| %>
        <li>
            <%= image_tag contact.image_url %>
            <%= contact.name %>
            <%= contact.telephone %>
            <%= link_to image_tag('minus.png'), "/person/#{contact.id}/destroy" %>
        </li>
    <% end %>
</ul>

<h3>Projects</h3>

<div id="projects">
    <p><%= image_tag 'add.png' %> <%= link_to 'Add new project', '#', :onclick => "show('new_project')" %></p>
    <div id="new_project" style="display:none">
        <form action="/project" method="POST">
            <p>
                <input type="hidden" name="client_id" value="<%= @client.id %>"/>
                Name: <input type="text" name="name"/>
                <input type="submit" value="add"/> <%= link_to 'Cancel', '#', :onclick => "hide('new_project')" %>
            </p>
        </form>
    </div>
        
    <% @projects.each do |project| %>
        <div class="project" id="project_<%= project.id %>">
            <%= link_to project.name, "/project/#{project.id}" %>
        </div>
    <% end %>
</div>
