<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <title>Mole</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/style.css" media="screen" rel="Stylesheet" type="text/css"></link>
    <script type="text/javascript" src="/script.js"></script>
</head>

<body>

<% if logged_in? %>
    <div id="nav">
        <%= current_user.email %> : <a href="/admin">Admin</a> | <a href="/logout">Logout</a>
    </div>
    <div>
        <%= link_to 'Home', '/' %> | <%= link_to 'Clients', '/clients' %> | <%= link_to 'People', '/people' %>
    </div>
<% end %>

<div id="content">
    <%= yield %>
</div>

<div id="footer">
    <a href="http://github.com/moomerman/mole/tree/master" target="_new">mole</a> was  
    <a href="http://madewithchopsticks.com" target="_new">made with chopsticks</a>
</div>

</body>

</html>