<h2>Prioject: <%= @project.name %></h2>
<p>Client: <%= link_to @project.client.name, "/client/#{@project.client.id}" %></p>
<p>Time spent: <%= @project.hours_spent %> hours</p>

<h3>Activity</h3>

<div id="entries">
    <% @project.entries.reverse.each do |entry| %>
        <div>
            <%= entry.user.email %>
            <%= entry.message %> <%= entry.hours %> hours 
            <small><%= time_ago_or_time_stamp(entry.created_at) %></small>
        </div>
    <% end %>
</div>