<h2>Prioject: <%= @project.name %></h2>

<ul>
    <li>Client: <%= link_to @project.client.name, "/client/#{@project.client.id}" %></li>
    <li>Time spent: <%= @project.hours_spent %> hours</li>
    <li><%= image_tag 'minus.png' %> <%= link_to 'Delete this project', "/admin/project/#{@project.id}/destroy" %></li>
</ul>

<h3>Activity</h3>

<div id="entries">
    <% @project.entries.reverse.each do |entry| %>
        <div>
            <%= entry.user.email %>
            <%= entry.message %> <%= entry.hours %> hours 
            <small><%= time_ago_or_time_stamp(entry.created_at) %></small>
        </div>
    <% end %>
</div>